.newsletter-section {
  padding: 0px 0;
  background-image: url("../../assets/newsbg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  max-width: 1300px;
  min-height: 650px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 24px;
}

.newsletter-column {
  width: 100%;
  min-height: 650px;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  box-sizing: border-box;
}

.news-left-column {
  display: flex;
  align-items: flex-start;
}
.news-right-column {
  display: flex;
  align-items: flex-end;
}

.news-img {
  width: 470px;
  height: 470px;
}

.newsletter-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 310px;
}

.headline-card {
  background: white;
  padding: 20px;
  border-radius: 18px;
  outline: 1px solid #d0d0d0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: black;
}

.form-card {
  background: white;
  padding: 20px;
  border-radius: 18px;
  outline: 1px solid #d0d0d0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.description {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #696969;
  text-align: justify;
}

.newsletter-form {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  outline: 2px solid #d0d0d0;
  background: #d0d0d0;
}

.email-input {
  flex: 1;
  padding: 14px 18px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  background: white;
  color: black;
}

.submit-button {
  padding: 16px 15px;
  background: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrow-icon {
  width: 9px;
  height: 16px;
  background-color: black;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}

img {
  transition: transform 0.3s linear;
}

img:hover {
  transform: scale(1.02);
}

@media (max-width: 1024px) {
  .newsletter-column {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .news-left-column {
    width: 100%;
    display: flex;
    align-items: flex-start;
  }
  .news-right-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
