.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 12px;
  border-radius: 100px;
  border: 1px solid #d0d0d0;
  padding: 1em 1.5em;
  font-size: 14px;
  font-weight: 600;
  font-family: inherit;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: #a20009;
  color: white;
}
.button:focus,
.button:focus-visible {
  background-color: #a20009;
  color: white;
}

.button-icon {
  height: 14px;
}

.button-icon.left {
  order: -1;
}

.button-icon.right {
  order: 1;
}

.button:hover {
  background-color: #a20009;
  color: white;
}

button:hover .button-icon {
  filter: brightness(0) invert(1);
}
