.banner-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.banner {
  width: 100%;
  max-width: 1300px;
  padding: 40px 50px;
  background: #1d473f;
  overflow: hidden;
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.watches-banner {
  width: 100%;
  max-width: 870px;
  max-height: 529.09px;
}

.brand-buttons {
  padding: 25px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.brand-buttons .active {
  background-color: #a20009;
  color: white;
}

.brand-products {
  padding: 25px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
